.App {
  margin: 0 auto;
  width: 1023px;
}

.banner {
  position: absolute;
  align-items: center;
  margin-left: 100px;
  margin-top: 250px; 
  width: 800px;
  height: 100px;
}

.news {
  position: absolute;
  width: 650px;
  height: 200px;
  margin-left: 250px;
  
}

.tv {
  position: absolute;
  width: 320px;
  height: 150px;
  margin-left: 670px;
  margin-top: 400px; 
  
}

.cast {
  position: absolute;
  width: 320px;
  height: 150px;
  margin-left: 800px;
  margin-top: 350px; 
  
}

.weather {
  position: absolute;
  width: 240px;
  height: 100px;
  margin-left: 100px;
  margin-top: 400px; 
  
}

.popular {
  position: absolute;
  width: 320px;
  height: 150px;
  margin-left: 100px;
  margin-top: 500px; 
  
}

.search {
  position: absolute;
  width: 1100px;
  height: 125px;
  margin-left: 100px;
  margin-top: 150px; 
  
}

.icon {
display: inline;
}