

.banner {
  position: absolute;
  align-items: center;
  margin-left: 100px;
  margin-top: 300px; 
  width: 800px;
  height: 100px;
}

.news {
  position: absolute;
  width: 650px;
  height: 200px;
  margin-left: 100px;
  
}

.tv {
  position: absolute;
  width: 320px;
  height: 150px;
  margin-left: 400px;
  margin-top: 400px; 
  
}

.cast {
  position: absolute;
  width: 320px;
  height: 150px;
  margin-left: 700px;
  margin-top: 450px; 
  
}

.weather {
  position: absolute;
  width: 240px;
  height: 100px;
  margin-left: 100px;
  margin-top: 400px; 
  
}

.popular {
  position: absolute;
  width: 320px;
  height: 150px;
  margin-left: 100px;
  margin-top: 500px; 
  
}

.search {
  position: absolute;
  width: 1100px;
  height: 125px;
  margin-left: 100px;
  margin-top: 200px; 
  
}

.map {
  position: absolute;
  width: 300px;
  height: 200px;
  margin-left: 400px;
  margin-top: 600px; 
  
}


h4 {
  color: #0f59b4;
}

.gray {
  color: gray;
}

.bold {
  font-weight: bold;
}

